# Flutter platform klasorlerini istatistiklerden gizle
mobile/linux/** linguist-vendored
mobile/windows/** linguist-vendored
mobile/macos/** linguist-vendored
mobile/ios/** linguist-vendored
mobile/web/** linguist-vendored
